.encabezado{
    position: absolute;
    width: 1440px;
    height: 1024px;
    background:#5566a7;
}.cuerpo{
    background-color: #c7cfed;
    width: 100%;
    height: 80%;
}
.rectanguloMuñeco{
    position: absolute;
    width: 420px;
    height: 750px;
    left: 1000px;
    top: 32px;
    background-color: rgb(227, 219, 208);
}#msgminusculas{
    font: Inter;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #495057;
    opacity: 80%;
    position:absolute;
    left: 10%;
    right: 25%;
    top: 715px;
}
.imagena{
    position: relative;
    left: 5%;
    right: 37.43%;
    top: 5%;
      
}
#imagenmuñeco{
    position: absolute;
    width: 336px;
    height: 304px;
    left: 1032px;
    top: 50%;
}
#signoExclamacion{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 8.8%;
    right: 15%;
    top: 715px;
}

.tituloPrincipal{
    position:absolute;
    left: 38%;
    top: 5%;
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
    
}
#mensaje{
    position: absolute;
    left:25%;
    top:20%;
    width: 350px;
    height: 175px;
    background:#F3F5FC;
    border: none;
}
#mensaje2{
    position: absolute;
    left: 71%;
    top:10%;
    width: 300px;
    height: 150px;
    border: none;
    
}
.botonEncriptar{
    position: absolute;
    background:#0A3871;
    height: 67px;
    width: 250px;
    left: 110px;
    top: 715px;
    border-radius: 24px;
    padding: 24px;
    gap: 8px; 
    font-weight: bold;
    color: white;
    border: none;
    transition: 1s background;
    cursor: pointer;
}
.botonEncriptar:hover{
    background: rgb(202, 202, 115);
    color: black;
}
.botonDesencriptar{
    position: absolute;
    top:715px;
    left:420px;
    height: 67px;
    width: 250px;
    border-radius: 24px;
    padding: 24px;
    gap:8px;
    background: #D8DFE8;
    font-weight: bold;
    color: black;
    border: none;
    transition: 1s background;
    cursor: pointer;
}
.botonDesencriptar:hover{
    background: rgb(202, 202, 115);
    color: black;
}
.botonCopiar{
    position: absolute;
    top:715px;
    left:730px;
    height: 67px;
    width: 250px;
    border-radius: 24px;
    padding: 24px;
    gap:8px;
    background: #0A3871;
    font-weight: bold;
    color: white;
    border: none;
    transition: 1s background;
    cursor: pointer; 
}
.botonCopiar:hover{
    background: rgb(202, 202, 115);
    color: black;
}
.contexto{
    position: absolute;
    top: 500px;
    left: 150px;
    font-size: 14px;
    font-style: normal, italic;
    text-align: center;
}.enfasis{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #F3F5FC;
}
footer{  
    display: block;
    text-align: center;
    padding: 3px;
    background: #c7cfed;
    color: white;
    position: relative;
    top: 785px;
    margin: 5px;
    padding: 2px;
  }
  address{
    display: block;
    font-style: italic;
  }
  .git{
    width: 20px;
    height: 20px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 0px;
  }
  .linkedin{
    width: 20px;
    height: 20px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 0px;
  }
@media (min-width:1440px) {
    #mensaje2{
        position:absolute;
        left: 73.5%;
        top: 20%;
    }.imagena{
        position: absolute;
        left: 5%;
        right: 37.43%;
        top: 5%;
    }
}
@media (min-width: 913px) and (max-width:1199px) {
    #mensaje2{
    position: absolute;
    left: 125%;
}
}
@media (min-width: 540px) and (max-width:912px){
    .tituloPrincipal{
        position:absolute;
        font-size: 16px;
        left:30%;
        top: 5%;
        text-align: center;
    }
    .imagena{
        position: absolute;
        top: 5%;;
        left: 5%;
        width: 23px;
        height: 30px;
    }.rectanguloMuñeco{
        top:15%;
        width: 35%;
        height: 54%;
        left: 60%;
    }#imagenmuñeco{
        top: 46%;
        left: 53%;
        width: 45%;
        height: 25%;
        

    }
    #mensaje2{
    position: absolute;
    left: 5%;
    top: 45%;
    width: 50%;
    height: 150px;
    margin-top: 15px;
    }
    #mensaje{
        position: absolute;
        top: 15%;
        left: 5%;
        width: 50%;
        height: 150px;
    }#msgminusculas{
        top: 85%;
        left: 15%;

    }#signoExclamacion{
        top: 85%;
        left: 10%;
    }
    .botonCopiar{
        width: min-content;
        height: min-content;
        top: 90%;
        left: 74%;
        font-size: 10px;
    }
    .botonDesencriptar{
        width: min-content;
        height: min-content;
        top: 90%;
        left: 40%;
        font-size: 10px;
        
    }
    .botonEncriptar{
        width: min-content;
        height: min-content;
        top: 90%;
        left: 10%;
        font-size: 10px;
    }
    .rodapie{
        position: absolute;
        top: 100%;
        left: 25%;
        
    }
}

@media (min-width:281px) and (max-width:539px) {
    .tituloPrincipal{
        position:absolute;
        font-size: 16px;
        left:20%;
        top: 5%;
        text-align: center;
    }
    .imagena{
        position: absolute;
        top: 5%;;
        left: 5%;
        width: 23px;
        height: 30px;
    }.rectanguloMuñeco{
        display: none;
        width: 60px;
        height: 200px;
        left: 3opx;
    }#imagenmuñeco{
        display: none;
    }
    #mensaje2{
    position: absolute;
    left: 5%;
    top: 45%;
    width: 88%;
    height: 150px;
    margin-top: 15px;
    }
    #mensaje{
        position: absolute;
        top: 15%;
        left: 5%;
        width: 88%;
        height: 150px;
    }#msgminusculas{
        top: 85%;
        left: 15%;

    }#signoExclamacion{
        top: 85%;
        left: 10%;
    }
    .botonCopiar{
        width: min-content;
        height: min-content;
        top: 90%;
        left: 74%;
        font-size: 10px;
    }
    .botonDesencriptar{
        width: min-content;
        height: min-content;
        top: 90%;
        left: 40%;
        font-size: 10px;
        
    }
    .botonEncriptar{
        width: min-content;
        height: min-content;
        top: 90%;
        left: 10%;
        font-size: 10px;
    }
    .rodapie{
        position: absolute;
        top: 100%;
        left: 20%;
        
    }
}
@media (max-width: 280px) {
    .tituloPrincipal{
        position:absolute;
        font-size: 16px;
        left:20%;
        top: 5%;
        text-align: center;
    }
    .imagena{
        position: absolute;
        top: 5%;;
        left: 3%;
        width: 23px;
        height: 30px;
    }.rectanguloMuñeco{
        display: none;
        width: 60px;
        height: 200px;
        left: 3opx;
    }#imagenmuñeco{
        display: none;
    }
    #mensaje2{
    position: absolute;
    left: 3%;
    top: 45%;
    width: 92%;
    height: 150px;
    margin-top: 15px;
    }
    #mensaje{
        position: absolute;
        top: 15%;
        left: 3%;
        width: 92%;
        height: 150px;
    }#msgminusculas{
        top: 85%;
        left: 10%;
        font-size: 8px;

    }#signoExclamacion{
        top: 85%;
        left: 3%;
    }
    .botonCopiar{
        width: min-content;
        height: min-content;
        top: 90%;
        left: 72%;
        font-size: 7px;
    }
    .botonDesencriptar{
        width: min-content;
        height: min-content;
        top: 90%;
        left: 35.5%;
        font-size: 7px;
        
    }
    .botonEncriptar{
        width: min-content;
        height: min-content;
        top: 90%;
        left: 3%;
        font-size: 7px;
    }
    .rodapie{
        position: absolute;
        top: 100%;
        left: 22%;
        font-size: 10px;
        
    }
}


